---
source_url: https://raw.githubusercontent.com/vercel/next.js/canary/.npmrc
last_updated: 2025-06-21T18:00:40.628Z
commit_hash: 54d9bd55d4477983b305ce52aa8338e3df2cd46d
---

auto-install-peers = true
lockfile = true
link-workspace-packages = true
provenance = true
save-exact = true
strict-peer-dependencies = false
tag-version-prefix=""